<footer class="footer">
	<div class="inner">
		<div class="contact">
			<h3>Kontakt</h3>
			<p>
				<span class="no-wrap"><strong>goYippi design</strong></span> <span class="no-wrap">Kati Meden &amp; Christian Roth GbR</span> <span class="no-wrap">Galenusstraße 15</span> <span class="no-wrap">13187 Berlin</span><br />
				<span class="no-wrap">Telefon: <a href="tel:+493040045105">(030) 40 04 51 05</a></span> <span class="no-wrap"><a href="mailto:&#105;nfo&#64;&#103;o&#121;&#105;ppi.n&#101;t">» info&#64;g&#111;&#121;ip&#112;i.&#110;&#101;&#116;</a></span>
			</p>
		</div>
		<ul class="service-menu">
			<li><a href="https://www.goyippi.net/datenschutz">Datenschutz</a></li>
			<li><a href="https://www.goyippi.net/impressum">Impressum</a></li>
		</ul>
		<ul class="social-menu">
			<li><a href="https://goyippi-labs.github.io/">GitHub</a></li>
			<li><a href="https://www.facebook.com/goyippi.design">Facebook</a></li>
			<li><a href="https://goo.gl/maps/DTRMMSmg2F62">Google Maps</a></li>
		</ul>
	</div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/functions.js"></script>
