<footer class="footer">
	<div class="inner">
		<ul class="service-menu">
			<li><a href="https://www.goyippi.net/impressum">Impressum</a></li>
		</ul>
		<ul class="social-menu">
			<li><a href="https://goyippi-labs.github.io/">GitHub</a></li>
			<li><a href="https://www.facebook.com/goyippi.design">Facebook</a></li>
			<li><a href="https://plus.google.com/115630058822269116812">Google+</a></li>
		</ul>
	</div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/functions.js"></script>
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Source+Sans+Pro:400,400i,700,700i" rel="stylesheet">
